/* remove navigators default to */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

/* Navbar mobile inspired by Adam Nagy javascript academy */
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: rgb(247, 241, 232);
  z-index: 100;
  height: 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: darkgrey;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: darkgrey;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


/* while async/await  */
.box-loading {
  width: 85%;
  height: 200vh;
  max-height: 400vh;
  /* overflow: hidden; */
  box-sizing: content-box;
  font-size: 200%;
  text-align: center;
  /* position: relative; */
  color: rgb(2, 43, 2);
  /* animation: 3s ease-in 1s infinite reverse both running slidein; */
  animation: 5s anim-lineUp ease-in infinite;
  animation-duration: 3s;
  /*animation-delay: 0s; */
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* The Best film hero image */

.hero-section {
  /* not hit the nav bar in mobile size */
  margin-top: 50px;
}
.hero-parent {
  /* Set a specific height */
  /* height: 30%; */

  width: 85%;
  margin: 5% auto;
  /* color: gray; */
  color: white;
  text-shadow: 2px 2px 4px lightgray;
  border: solid whitesmoke 5px;
  box-sizing: content-box;
  text-align: center;
  position: relative;
  font-size: 200%;
  font-weight: bold;
  font-style: normal;
  font-feature-settings: "kern";
  background-color: rgb(247, 241, 232);
}

/* .hero-parent p {
  text-align: start;

  
} */
.hero-child {
  width: 20%;
  align-items: stretch;
}

/* .hero-child img {
} */

.hero-button {
  /* Set a specific height ; */
  /* https://cbjdigital.com/blog/2010/08/bulletproof_css_input_button_heights */
  padding: 0 20px;
  height: 40px;
  vertical-align: middle;
  transition-duration: 0.4s;
  background-color: rgba(102, 73, 42, 0.534);
  color: blanchedalmond;
}
.hero-button:hover {
  color: beige;
  background-color: rgba(143, 137, 130, 0.534);
}
.hero-plot {
  color: black;
  font-size: 60%;
}

/* Carousel */

.best-section #Best {
  margin-top: 50px;
}
.carousel-parent {
  font-size: 200%;
  font-weight: bold;
  text-align: start;
  color: gray;
  width: 60%;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-parent {
  width: 80%;
  font-size: 2em;
  margin: auto;
  padding-top: 20px;
  text-align: left;
}
.carousel__container {
  overflow-x: hidden;
}
.carousel__container::after {
  content: "";
  clear: both;
  display: table;
}
.carousel__item {
  position: relative;
  float: left;
}
.carousel__item img {
  display: block;
  width: 85%;
  margin: auto;
  height: auto;
}
.carousel__item img:focus,
.carousel__item img:hover {
  transform: scale(1.1);
}

.carousel__next,
.carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff url(../assets/chevron-right.svg) center center no-repeat;
  background-size: 30px 30px;
  border-radius: 50%;
  /* put the arrow button where it is smart to use */
  top: 50%;
  margin-top: -15px;
  right: -5px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}
.carousel__next:hover,
.carousel__prev:hover {
  transform: scale(1.2);
}
.carousel__next--hidden,
.carousel__prev--hidden {
  opacity: 0;
}

.carousel__prev {
  background-image: url(../assets/chevron-left.svg);
  margin: 5px;
  left: -5px;
}

/* modal inspired by grafikart */

/* pour retirer les valeurs imposées par les navigateurs */
/* .body, .html {
  margin:0;
  padding:0;
} */

/* padding pris en compte dans le calcul des largeurs pour tous les élements */
* {
  box-sizing: border-box;
}

/* *:focus {
  box-shadow: 0 0 10px blue;
} */

.modal {
  /* modal prend toute la place */
  position: fixed;
  /* pour centrer la boite modal, flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* rendre le contenu sous modal moins visible */
  background: rgba(0, 0, 0, 0.6);
}

/* le conteneur des informations */
.modal-wrapper {
  /* faire apparaitre scroll sur périphérique de petite taille */
  overflow: auto;
  width: 60%;
  /* pour que le contenu ne déborde pas selon la taille du type d'écran responsive */
  /* max-width: calc(100vw-20px); */
  max-height: 80vh;
  /* max-height: calc(100vh-20px); */
  /* pour aérer le contenu dans le wrapper */
  padding: 20px;
  /* fond de couleur blanche */
  background: burlywood;
}

.modal-header {
  font-size: 40px;
}
.modal-info {
  margin-top: 0px;
  overflow: auto;
  position: relative;
}

.modal-info > img:nth-child(1) {
  float: left;
  margin: 5px;
}

.modal-info > p:nth-child(2) {
  margin-top: 10px;
}

.modal-info p {
  font-weight: bold;
}

.modal-details {
  margin-top: 20px;
}
.modal-details p {
  font-weight: bold;
}
.modal-details a:nth-child(4) ::before {
  content: "$ ";
}
.modal-details button {
  background-color: blanchedalmond;
  transition-duration: 50ms;
}
.hero-button:hover {
  color: beige;
  background-color: rgba(143, 137, 130, 0.534);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(247, 241, 232);
}
.footer p {
  font-size: small;
  color: darkgrey;
  text-align: center;
}
