.sass-cache/
*.css.map
*.sass.map
*.scss.map

# local data
assets/
*.csv
*.xls
*.xlsx
*.log
*.cfg
*.data
data_back-up/
flake8_dashboard/

# vs editor related files
.vscode-test
.vscode
.vscode/

# modules
node_modules/
jspm_packages/
bower_components/

# logs
npm-debug.log
yarn-error.log
yarn-debug.log
lerna-debug.log
.serverless

# virtual envs
.env
.env.test
.custom-env

# training & testing ground
trials/
test/

# cache files
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.eslintcache
.cache
.parcel-cache
.npm

